
<% if(cliente != "Admin"){ %>
    <%- include('partials/header') -%>
<% } %>
<% if(cliente === "Admin"){ %> 
    <%- include('partials/headerAdmin') -%>
<% } %>   

<div class="container">
    <ul class="nav me-auto">
    <li class="nav-item">Usted ingreso como <h1><%= user.value %> </h1> </li>
    </ul>

    <p>Tiene <%= cantOrder %> ordenes </p>
    <p>Tiene <%= cantProduct %> productos </p>
</div>



<%- include ('partials/footer'); %>